body{
    width: 80%;
    margin: 0 auto;
    padding: 0 5px;
    font-family: Optima, sans-serif;
}

main{
    background: #F5F9E9;
    padding: 5px;
}

#container div{
    padding: 2px 10px;
}

h2{
    text-align: center;
}

header, footer{
    background: #07393C;
    color: #F5F9E9;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
}

#container{
    display: flex;
}

span{
    color: black;
}

#div-sub-rede{
    display: flex;
}

#div-radio{
    display: inline;
}

th, td {
    padding: 0 5px;
}

@media (max-width: 700px){
    main, header, footer{
        height: auto;
        padding: 5px;
    }
    #container{
        display: block;    
    }
    #div-sub-rede{
        display: block;
    }
}